$primaryColor: #101010;
$secondaryColor: white;
$highlightColor2: #69c9d0;
$backgroundColor: #efefef;
@import "spinningCircle";
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
//Aos lib custom animation
[data-aos="opacity-animation"] {
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    opacity: 1;
  }
}

@mixin boxShadowHighlight {
  box-shadow: 0px 4px 10px 0px rgba(105, 201, 208, 1);
}
@mixin boxShadowNormal {
  box-shadow: 0px 4px 9px 0px rgb(165, 165, 165);
}
@keyframes glovingArrows {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  background-color: $backgroundColor;
}
html {
  min-height: 100%;
  position: relative;
}
.loadingContainer {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primaryColor;
  @include centerFlex();
  visibility: visible;
  color: white;
  span {
    font-size: 40px;
  }
}
.hidden {
  animation: slideDown 1.5s;
  animation-fill-mode: forwards;
  span {
    opacity: 0;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
.highlight {
  color: $highlightColor2;
}
.hamburger {
  width: 50px;
  height: 50px;
  position: fixed;
  font-size: 50px;
  top: 10px;
  left: 10px;
  color: black;
  cursor: pointer;
  z-index: 10;
  display: none;
}
.basicNav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  ul {
    @include centerFlex();
    background-color: transparent;
    height: 60px;
    li {
      text-decoration: none;
      margin-right: 20px;
      list-style-type: none;
    }
    a {
      font-size: 16px;
      text-decoration: none;
      color: white;
      text-shadow: 1px 1px black;
      margin: 0 20px 0 20px;
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: white;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
    }
    a:hover:after {
      width: 100%;
      left: 0;
    }
  }
}
.introduceContainer,
.aboutMeContainer {
  position: relative;
}
.introduceContainer {
  margin-top: -60px;
  user-select: none;
  background-color: $primaryColor;
  width: 100%;
  @include centerFlex();
  flex-direction: column;
  height: 100vh;
  i {
    text-align: center;
    font-size: 80px;
    color: $highlightColor2;
    cursor: pointer;
    animation: glovingArrows 3s infinite;
    animation-delay: 5s;
    transition: 0.5s ease-out;
    margin-top: 10px;
    &:hover {
      color: $secondaryColor;
      transition: 0.5s ease-in;
    }
  }
}
.svgImagesContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 80%;
  @include centerFlex();
  .introduceText {
    margin-top: 20px;
  }
  .img {
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0px 4px 9px 0px rgb(165, 165, 165);
  }
  p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 22px;
    color: $secondaryColor;
  }
}
#projects {
  h1 {
    text-align: center;
    letter-spacing: 2px;
    margin: 50px 0 0 0;
    font-weight: 300;
    color: $primaryColor;
    position: relative;
    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 50px;
      margin: 0 10px 0 10px;
      vertical-align: middle;
      border-bottom: 1px solid $primaryColor;
    }
  }
}
.projectsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 500px;
  flex-wrap: wrap;
}
.projectBox {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 5px;
  background: $primaryColor;
  overflow: hidden;
  color: $secondaryColor;
  @include boxShadowHighlight();
  border-radius: 5px;
  &:hover {
    @include boxShadowNormal();
  }
}
.projectBox .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: 0.5s;
  transition-delay: 0.5s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.projectBox:hover .firstBox,
.projectBox:hover .secondBox,
.projectBox:hover .thirdBox {
  transition-delay: 0s;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.projectBox:hover .firstBox {
  clip-path: polygon(10% 5%, 90% 5%, 90% 50%, 10% 60%);
}
.projectBox:hover .secondBox {
  clip-path: polygon(10% 5%, 90% 5%, 90% 60%, 10% 60%);
}
.projectBox:hover .thirdBox {
  clip-path: polygon(10% 5%, 90% 5%, 90% 60%, 11% 50%);
}
.projectsContainer .projectBox .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  a {
    text-decoration: none;
    background: $highlightColor2;
    color: $primaryColor;
    padding: 5px;
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(30px);
    &:hover {
      letter-spacing: 1.5px;
      transition: 0.3s;
    }
  }
  h2 {
    opacity: 0;
    transition: 0.5s;
    transform: translateY(30px);
    font-size: 20px;
    margin-bottom: 5px;
  }
  p {
    opacity: 0;
    transition: 0.5s;
    transform: translateY(30px);
    font-size: 16px;
    font-weight: 300;
  }
}
.projectBox:hover .content h2,
.projectBox:hover .content p,
.projectBox:hover .content a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}
.aboutMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $primaryColor;
  width: 100%;
  height: 800px;
  position: relative;
  .svgSkillsImg {
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
  }
  .svgSkillsImgMobile {
    display: none;
  }
}
.svgSkillsContainer {
  width: 90%;
  height: 90%;
  position: absolute;
  @include centerFlex();
}
.galleryContainer {
  h1 {
    text-align: center;
    letter-spacing: 2px;
    margin: 50px 0 20px 0;
    color: $primaryColor;
    font-weight: 300;
    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 50px;
      margin: 0 10px 0 10px;
      vertical-align: middle;
      border-bottom: 1px solid $primaryColor;
    }
  }
}
.gallery {
  @include centerFlex();
  flex-wrap: wrap;
  min-height: 400px;
  overflow: hidden;
  width: 100%;
  position: relative;
  .hoverZoom {
    @include boxShadowHighlight();
    height: 250px;
    width: 250px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    outline: none;
    &:hover {
      @include boxShadowNormal();
    }
  }
  /* Shine */
  .hoverEffect {
    overflow: hidden;
  }
  .hoverEffect figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.75s ease-in-out;
    transition: 0.75s ease-in-out;
    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
  .hoverEffect figure {
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 11;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
      );
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
      );
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }
  }
  .hoverEffect figure:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
  }
  @-webkit-keyframes shine {
    100% {
      left: 125%;
    }
  }
  @keyframes shine {
    100% {
      left: 125%;
    }
  }
  .biggerImage {
    width: 300px;
    height: 300px;
    z-index: 4;
  }
  .biggestImage {
    width: 300px;
    height: 350px;
    z-index: 5;
  }
  a img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}
.smallThumb {
  display: none;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(../images/footerImgArrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  width: 100%;
  .footerTextCopyright {
    margin-top: 20px;
    text-align: right;
    color: $secondaryColor;
    width: 60%;
    font-weight: 300;
  }
  .heartSvg {
    width: 20px;
    height: 20px;
    padding: 2px;
  }
}
.socialsContainer {
  margin-top: 60px;
  @include centerFlex();
  .socialsIconsContainer,
  .socialsTextContainer {
    display: flex;
    flex-direction: column;
  }
  .socialsIconsContainer {
    align-items: flex-end;
    width: 70px;
    span {
      margin: 15px 7px 15px 7px;
    }
    i {
      color: $backgroundColor;
    }
  }
  .socialsTextContainer {
    width: 130px;
    align-items: flex-start;
    span {
      margin: 15px 0 15px 0;
    }
    a {
      font-size: 20px;
      text-decoration: none;
      font-weight: 300;
      letter-spacing: 1.2px;
      color: $secondaryColor;
      transition: all 400ms ease-in-out;
      &:hover {
        letter-spacing: 1.5px;
        transition: all 400ms ease-in-out;
      }
    }
  }
}
.iconLinkedin,
.iconDeviantart,
.iconGit {
  font-size: 20px;
  width: 20px;
}
.textFooterAbsolute {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  color: $highlightColor2;
  font-size: 26px;
}
.overlayNav {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.92);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  overflow: hidden;
  ul {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    list-style-type: none;
    li {
      margin: 40px 0 40px 0;
      text-align: center;
      a {
        color: $secondaryColor;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 30px;
        &:hover {
          opacity: 0.8;
          transition: all 0.4s ease;
        }
      }
    }
  }
  .exitOverlay {
    position: absolute;
    top: -20px;
    right: -100px;
    font-size: 40px;
    color: $highlightColor2;
    cursor: pointer;
  }
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1490px) {
  .footer {
    min-height: 200px;
  }
  .gallery {
    margin: 30px 0 30px 0;
    flex-wrap: wrap;
    .hoverZoom {
      margin: 8px;
      width: 300px;
      height: 300px;
    }
  }
  .smallThumb {
    display: block;
  }
  .bigThumb {
    display: none;
  }
}
@media only screen and (max-width: 890px) {
  .projectsContainer {
    margin: 30px 0 30px 0;
  }
}
@media only screen and (max-width: 670px) {
  .basicNav {
    display: none;
  }
  .introduceContainer {
    margin-top: 0px;
    i {
      transition: 0.5s ease-out;
    }
  }
  .svgImagesContainer {
    .svgMyself {
      max-width: 90%;
      max-height: 90%;
      margin: 0 auto;
      margin-top: -20px;
    }
    p {
      font-size: 16px;
      width: 350px;
    }
  }
  .hamburger {
    display: block;
    width: 50px;
    height: 50px;
    color: $highlightColor2;
    text-align: center;
    line-height: 50px;
  }
  .aboutMeContainer {
    height: 500px;
    .svgSkillsImg {
      display: none;
    }
    .svgSkillsImgMobile {
      display: block;
      margin: 0 auto;
      width: 90%;
      height: 90%;
    }
  }
  .firstBox img {
    clip-path: polygon(10% 5%, 90% 5%, 90% 50%, 10% 60%);
  }
  .secondBox img {
    clip-path: polygon(10% 5%, 90% 5%, 90% 60%, 10% 60%);
  }
  .thirdBox img {
    clip-path: polygon(10% 5%, 90% 5%, 90% 60%, 11% 50%);
  }
  .projectBox {
    margin: 10px;
  }
  .projectsContainer .projectBox .content {
    a,
    h1,
    h2,
    p {
      opacity: 1;
      transform: translateY(5px);
    }
  }
  footer {
    flex-direction: column;
    background-image: url(../images/footerImgMobile.svg);
    justify-content: center;
    background-position: center;
    div {
      color: $secondaryColor;
      width: 90%;
      font-weight: 300;
    }
    .footerTextCopyright {
      padding: 20px;
      width: 100%;
      text-align: center;
    }
    .heartSvg {
      width: 20px;
      height: 20px;
      padding: 2px;
    }
  }
  .socialsContainer {
    margin-top: 90px;
    width: 200px;
  }
}
@media only screen and (max-height: 605px) {
  .introduceContainer {
    i {
      display: none;
    }
  }
  .svgImagesContainer {
    .svgMyself {
      max-width: 80%;
      max-height: 80%;
      margin: 0 auto;
    }
    p {
      font-size: 18px;
      width: 300px;
    }
  }
}
@media only screen and (max-width: 350px) {
  .introduceContainer {
    p {
      font-size: 14px;
    }
  }
}
