* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
html {
  background-color: white;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pdfButton {
  transform: rotate(7deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  position: fixed;
  top: 50%;
  left: -60px;
  height: 30px;
  width: 150px;
  line-height: 30px;
  text-align: center;
  background-color: #69c9d0;
  color: white;
  cursor: pointer;
}
.pdfButton:hover {
  color: #2c272b;
  transition: 300ms ease-in-out;
}
img {
  margin-top: -20px;
  padding: 0 20px 20px 20px;
  width: 70%;
}
@media only screen and (max-width: 690px) {
  img {
    padding: 0;
    width: 98%;
  }
  .pdfButton {
    transform: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 20px;
    width: 120px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background-color: #69c9d0;
    color: white;
    cursor: pointer;
  }
}
